In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
from scipy import stats

In [8]:
df=pd.read_csv("prac1.csv")

In [9]:
df.head(5)

,Name,Rollno,Internet of Thing,Full stack Web Development,Android Development,Data Analytics,Project,Total
0,akash,1,110,34,45,54,78,321
1,elon musk,2,83,34,67,23,56,263
2,mark,3,76,23,54,54,23,230
3,jeff,4,45,76,23,67,87,298
4,chris,5,87,32,42,85,35,281

In [10]:
print("mean :" , df["Internet of Thing"].mean())

mean : 335.2448979591837

In [11]:
print("median: " , df["Internet of Thing"].median())

median:  74.0

In [12]:
print("mode :", stats.mode(df["Internet of Thing"]))

mode : ModeResult(mode=array([56]), count=array([4]))

In [13]:
print("std :" , df["Internet of Thing"].std())

std : 869.6544939086501